.seigo {
    text-align: left;
}

ul.foo {
    padding:0;
    font-size:0px;
}

ul.foo li {
    padding-left: 20px;
    display: inline-block;
    text-align: center;
    font-size:16px;
}

ul.foo li a {
    display: block;
}

a {
    text-decoration: underline;
}