{{set . "title" "新規募集 | スポーツやろうよ！"}}
{{template "header.html" .}}

<div class="container">
    
    <div class="row">
        <div class="col-xs-6">
            <h3>スポーツデータ追加</h3>
            <form action="/sports" method="post">
                <div class="form-group">
                    <div>スポーツ</div>
                    <input type="text" name="sport" size="30" maxlength="20">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-plus"></i>追加する
                    </button>
                </div>
            </form>
        </div>
        <div class="col-xs-6">
            <h3>データ内容</h3>
            <div>スポーツ</div>
            <table class="table table-striped todo-table">
                <tbody>
                    {{ range .sports }}
                    <tr>
                        <td>
                            <div>{{ .Sport }}</div>
                        </td>
                        <td>
                            <form action="/sports/{{.Id}}/delete" method="post">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
    
</div>

{{template "footer.html" .}}